h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

#table, .row{
  list-style: none;
}

.row{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.row-li{
  display: inline-block;
  flex: 1;
}
